.productDetail {
  flex-grow: 1;
  background-color: #ebebeb;
  &__card {
    background-color: white;
    margin-top: 35px;
    padding: 35px 0;
    border-radius: 20px;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__img {
    height: 25rem;
    width: 22rem;
  }
  &__button {
    margin: 0 8px;
  }
  &__price {
    font-size: 20px;
    margin: 10px 0;
  }
}
